@model albanaPlayaEst.Dto.VehiculoDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehículo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTipV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTipV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cod_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cod_cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
