@model albanaPlayaEst.Models.Registro

@{
    ViewData["Title"] = "Delete";
}

<h3>Estas seguro d eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEspNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEspNavigation.Ubi_esp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodVNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodVNavigation.ColorV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodPagNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodPagNavigation.cod_Pag)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodReg" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
