@model IEnumerable<albanaPlayaEst.Models.Espacio>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Administrador"))
{
    <p class="text-center">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus fa-sm"></i> Crear Nuevo Espacio
        </a>
    </p>
}
<div class="main-content container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper shadow-sm rounded bg-white p-3">

                <div class="table-title d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-0">Espacios de Estacionamiento</h2>
                </div>

                <table class="table table-sm table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Estad_esp)</th>
                            <th>@Html.DisplayNameFor(model => model.Ubi_esp)</th>
                            <th>@Html.DisplayNameFor(model => model.Descr_esp)</th>
                            <th>@Html.DisplayNameFor(model => model.Cost_esp)</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Estad_esp)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ubi_esp)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descr_esp)</td>
                                <td>@Html.DisplayFor(modelItem => item.Cost_esp)</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        @if (User.IsInRole("Administrador"))
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Cod_esp" class="btn btn-sm btn-warning mx-1">
                                                <i class="fas fa-edit fa-xs"></i>
                                            </a>
                                        }
                                        <a asp-action="Details" asp-route-id="@item.Cod_esp" class="btn btn-sm btn-info mx-1">
                                            <i class="fas fa-info-circle fa-xs"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Incluye Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
